%rebase layout title='New Rotation', parent_url=app.get_url('index')

<h1>创建问答题</h1>

<form class="form-horizontal" role="form" method="POST"> 

    <div class="form-group"> 
        <label for="descr" class="col-sm-2 control-label">描述</label> 
        <div class="col-sm-10"> 
            <textarea class="form-control" rows="5" name="descr"></textarea> 
        </div> 
    </div> 

    <div class="form-group"> 
        <label for="note" class="col-sm-2 control-label">附加信息</label> 
        <div class="col-sm-10"> 
            <textarea class="form-control" rows="5" name="note"></textarea> 
        </div> 
    </div> 
    <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10"> 
            <button type="submit" class="btn btn-default">提交</button>  
        </div> 
    </div>
    
</form>
